.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.409);
  border-radius: 5px;
  background-color: rgb(46, 163, 217);
}

.list-items li {
  font-size: 2em;
  text-align: center;
  list-style: none;
  color: rgba(0, 0, 0, 0.404);
  margin: 0;
}

.list-items li:hover {
  color: black;
  cursor: pointer
}